* {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;

  padding: 0;
  margin: 0;
  color: white;
}

h2 {
  font-size: var(--xl);
  font-weight: 500;
  margin-bottom: var(--s);
}

body {
  margin: 0;
  overflow: hidden;
}

#info {
  position: absolute;
  top: 10px;
  left: 10px;
}

#slider-container {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
}

#settings-container{
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: rgba(255, 255, 255, 0.15);
  padding: 10px;
  border-radius: 5px;
}

select {
  background-color: rgba(255, 255, 255, 0.15);
  color: white;
  border: none;
  padding: 5px;
  border-radius: 5px;

  font-size: 14px;
  font-optical-sizing: auto;
}

/*dropdown styling */
select option {
  background: #424b53;
}
select option:checked {
  background-color: #2c3138;
}

select:focus {
  outline: none;
  box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.5);
}

option:hover {
  /*TODO: fix styling not working --> https://stackoverflow.com/questions/10484053/change-select-list-option-background-colour-on-hover*/
  background: rgb(0, 255, 42);
  background-color: rgb(0, 255, 42);
}