* {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;

  padding: 0;
  margin: 0;
}

p{
  color: var(--body-text);
}

body {
  margin: 0;
  overflow: hidden;
  background-color: var(--primary);
}

li, ul {
  list-style: none;
}

li, ul, p {
  font-size: var(--m);
}

button {
  cursor: pointer;
  border: none;
  background: none;
  color: inherit;
  font: inherit;
}