.ulRow{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: var(--xxs);
    width: max-content;
}

.bottomCard{

    align-self: center;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;

    width: 100%;
    max-width: 1800px;
    margin-left: auto;
    margin-right: auto;

}

.attachedCard {
    border-radius: var(--border-radius);
    width: 400px;

    margin-left: var(--xl);
}

.infoCard {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);

    padding: var(--m);
    box-sizing: border-box;

    background-color: var(--primary);

    .pill {
        background-color: var(--accent);
        padding: var(--xxs) var(--xs);
        border-radius: var(--border-radius);

        color: var(--body-text);

    }

    button {
        background-color: var(--accent);
        color: var(--header);
        border-radius: 50%;

        margin-left: var(--m);

        height: 29px;
        width: 29px;

        align-items: center;
        display: flex;
        justify-content: center;

        padding: var(--xxs) var(--xs);

        &:hover {
            background-color: var(--body-text);
            color: var(--primary);
        }

        img {
            filter: invert(var(--invert-value));
            width: 20px;
            height: 20px;
        }
    }

    .cardTitle{
        font-size: var(--xl);
        color: var(--header);
        padding: var(--xs) 0 var(--xxs) 0;
    }

    .cardList, .cardText {
        font-size: var(--m);
        color: var(--body-text);
        padding-bottom: var(--m);
    }

    .cardList {
        margin-left: var(--xs);
        li{
            list-style: outside;
        }
    }
}