.editor-panel {
    position: absolute;
    top: 0px;
    right: 0px;
    background-color: #1e1e1ee6;
    color: #fff;
    padding: 15px;
    z-index: 1000;
    display: none;

    &.visible {
        display: block;
    }
}

.editor-btn {
    background-color: #007acc;
    color: white;
    cursor: pointer;
    padding: 5px;
}