* {
  font-optical-sizing: auto;
  padding: 0;
  margin: 0;
}

body {
    background-color: var(--c-background);
    color: #fff;
    font-family: "Roboto", sans-serif;
}

#app-container {
    width: 100vw;
    height: 100vh;
}
.onboarding {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    background-color: var(--c-background);
    color: #fff;
    z-index: 2000;
    transition: opacity 0.5s ease;
}

p {
    color: var(--c-body-text) !important;
}

.onboarding.hidden {
    opacity: 0;
    pointer-events: none;
}

.upload-box-row{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: max(1%, 10px);
    margin: 0 clamp(24px, 4vw, 48px);
    height: 700px;
    box-sizing: border-box;
}
.upload-box {
    height: max(420px, 30%);
    width: max(400px, 30%);
    max-width: 400px;
    max-width: 400px;
    max-height: 400px;
    border: 2px solid var(--c-border);
    border-radius: 50px;
    background-color: var(--c-lighter);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0px clamp(24px, 4vw, 48px);
    position: relative;
    cursor: pointer;

    transition: all 0.3s ease-in-out;
    flex: 50%;

    &:hover {
        /* box-shadow: 0px 0px 30px 10px var(--c-accent-border); */
        border-color: var(--c-accent);

        border-radius: 14px !important;
        flex: 100%;
    }

    h2 {
        margin-bottom: var(--s);
    }

    .upload-box-icon {
        height: 60px;
        margin-bottom: var(--xxl);
    }
}

.upload-box-row .upload-box:first-child {
    border-radius: 14px 0 0 14px;
}

.upload-box-row .upload-box:last-child {
    border-radius: 0 14px 14px 0;
}

.file-upload-row {
    display: flex;
    gap: var(--xs);
    margin-top: var(--xxxl);
    justify-content: center;
    flex-wrap: wrap;
}

.file-upload-btn {
    display: inline-flex;
    align-items: stretch;
    cursor: pointer;
    transition: transform 0.2s ease;
    text-decoration: none;
    gap: 5px;

    &:active {
        transform: scale(0.95);
    }

    .file-upload-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        height: var(--xxl);
        width: var(--xxl);
        border-radius: var(--xs) 0 0 var(--xs);
        border: 2px solid var(--c-accent-border);
        background-color: var(--c-accent);
        box-sizing: border-box;
    }

    .file-upload-text {
        display: flex;
        align-items: center;
        padding: 0 var(--m);
        height: var(--xxl);
        background-color: var(--c-lightest);
        border: 2px solid var(--c-border);
        border-radius: 0 var(--xs) var(--xs) 0;
        color: var(--c-header);
        box-sizing: border-box;
        white-space: nowrap;
    }

    .file-upload-btn:hover .file-upload-text {
        background-color: var(--c-border);
        border-color: var(--c-border);
    }

}

.bottom-widget{
    position: fixed;
    bottom: 0;
    display: inline-flex;
    justify-content: space-evenly;
    gap: clamp(20px, 4vw, 80px);
    padding:  var(--m) var(--xl);
    width: 30%;
    min-width: 200px;
    max-width: 400px;

    border-radius: var(--m) var(--m) 0 0;
    border: 2px solid var(--c-border);
    background-color: var(--c-lighter);


    a {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        align-self: center;
        gap: var(--m);
        text-decoration: none;
    }
}

/* New styles for expanded/collapsed states */
.close-btn {
    position: absolute;
    top: 14px;
    right: 20px;
    cursor: pointer;
    font-size: 24px;
    color: var(--c-body-text);
    display: none;
}

.close-btn:hover {
    color: #ffffff;
}

.upload-box.expanded {
    flex: 100%;
    width: 100%;
    max-width: 100%;
    border-radius: 14px !important;
}

.upload-box.expanded .close-btn {
    display: block;
}

.upload-box.collapsed {
    flex: 0%;
    width: 0%;
    padding: 0;
    border: none;
    overflow: hidden;
    opacity: 0;
    margin: 0;
}