/*
    Renard Serie
    10,12,16,20,25,31.5,40,50,63,100
    Basis: 16
*/

:root {
  --xxs: 5px;
  --xs: 10px;
  --s: 12px;
  --m: 16px;
  --l: 20px;
  --xl: 25px;
  --xxl: 31.5px;
  --xxxl: 40px;
  --xxxxl: 50px;
  --xxxxxl: 63px;
  --xxxxxxl: 100px;
  --basis: 16px;

  --border-radius-large: var(--l);
  --border-radius: var(--m);
  --border-radius-small: var(--s);

  --c-header: #ffffff;
  --c-body-text: #cecece;


  --c-background: #1e1e1e;
  --c-dark: #252525;
  --c-lighter: #2a2a2a;
  --c-lightest: #353535;
  --c-border: #424242;
  --c-border-light: #666666;

  --c-accent: #324655;
  --c-accent-border: #3b82f6;

  --c-orange: #ffb236;
  --c-orange-border: #ff8836;

  --c-green: #647d36;
  --c-green-border: #c2ff52;

  --c-red: #cb5353;
  --c-red-border: #fb5050;


}

